* {
  margin: 0;
  padding: 0;
  list-style: none; }

section {
  width: 1201px;
  margin: 0 auto; }
  section .menu {
    width: 100%;
    height: 30px; }
    section .menu span {
      color: orangered; }
  section .menu-bot {
    width: 100%;
    height: 400px;
    margin: 10px 0; }
    section .menu-bot #box {
      width: 392px;
      height: 400px;
      float: left; }
      section .menu-bot #box #lef, section .menu-bot #box #rig {
        position: absolute; }
      section .menu-bot #box #lef {
        width: 392px;
        height: 400px; }
        section .menu-bot #box #lef img {
          width: 100%;
          height: 100%; }
      section .menu-bot #box #small_shadow {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none; }
      section .menu-bot #box #rig {
        width: 300px;
        height: 300px;
        left: 450px;
        border: 1px solid #000;
        overflow: hidden;
        display: none; }
        section .menu-bot #box #rig img {
          width: 500px;
          height: 500px;
          position: absolute;
          left: 0;
          top: 0; }
    section .menu-bot .menu-bot-con {
      margin-left: 20px;
      width: 480px;
      height: 100%;
      float: left; }
      section .menu-bot .menu-bot-con h3 {
        font-size: 22px;
        margin-bottom: 3px; }
      section .menu-bot .menu-bot-con > p:nth-of-type(1) {
        color: #888888; }
      section .menu-bot .menu-bot-con > p:nth-of-type(2) {
        margin-top: 33px;
        height: 25px; }
        section .menu-bot .menu-bot-con > p:nth-of-type(2) b {
          font-size: 20px;
          color: orangered; }
      section .menu-bot .menu-bot-con > p:nth-of-type(3) {
        margin-top: 15px;
        height: 23px; }
      section .menu-bot .menu-bot-con > p:nth-of-type(4) {
        margin-top: 30px;
        height: 35px;
        color: #888888; }
        section .menu-bot .menu-bot-con > p:nth-of-type(4) span {
          border: 1px solid #888888;
          padding: 4px 13px;
          margin-left: 5px; }
        section .menu-bot .menu-bot-con > p:nth-of-type(4) span:nth-of-type(1) {
          border: 1px solid orangered; }
      section .menu-bot .menu-bot-con > p:nth-of-type(5) {
        margin-top: 20px;
        height: 35px; }
        section .menu-bot .menu-bot-con > p:nth-of-type(5) span {
          border: 1px solid #888888;
          padding: 4px 13px;
          margin-left: 5px; }
        section .menu-bot .menu-bot-con > p:nth-of-type(5) span:nth-of-type(2) {
          border: 1px solid orangered; }
      section .menu-bot .menu-bot-con > div:nth-of-type(1) {
        width: 195px;
        height: 20px;
        margin-top: 37px;
        margin-left: 10px; }
        section .menu-bot .menu-bot-con > div:nth-of-type(1) div {
          float: left;
          font-size: 14px; }
          section .menu-bot .menu-bot-con > div:nth-of-type(1) div img {
            float: left; }
          section .menu-bot .menu-bot-con > div:nth-of-type(1) div p {
            float: left; }
        section .menu-bot .menu-bot-con > div:nth-of-type(1) div:nth-of-type(2) {
          margin-left: 62px; }
      section .menu-bot .menu-bot-con > div:nth-of-type(2) {
        margin-top: 35px;
        width: 272px;
        height: 46px; }
        section .menu-bot .menu-bot-con > div:nth-of-type(2) div:nth-of-type(1) {
          width: 80px;
          height: 100%;
          float: left;
          border: 1px solid #CCCCCC; }
          section .menu-bot .menu-bot-con > div:nth-of-type(2) div:nth-of-type(1) input {
            width: 57px;
            height: 96%;
            line-height: 55px;
            text-align: center;
            float: left;
            border: none; }
          section .menu-bot .menu-bot-con > div:nth-of-type(2) div:nth-of-type(1) p {
            float: left;
            width: 21px;
            height: 100%; }
            section .menu-bot .menu-bot-con > div:nth-of-type(2) div:nth-of-type(1) p button {
              width: 24px;
              height: 50%;
              border: 1px solid #CCCCCC;
              background: #F0F0F0; }
        section .menu-bot .menu-bot-con > div:nth-of-type(2) > button {
          width: 180px;
          background: orangered;
          height: 100%;
          border: none;
          color: white;
          float: left;
          margin-left: 10px;
          font-size: 18px; }
    section .menu-bot .menu-bot-bot {
      float: left;
      margin-left: 112px;
      border: 1px solid #EAEAEA;
      width: 190px;
      height: 190px; }
      section .menu-bot .menu-bot-bot img {
        width: 100%;
        height: 130px; }
      section .menu-bot .menu-bot-bot div {
        height: 59px;
        line-height: 59px;
        text-align: center;
        background: #F6F6F6;
        margin-top: -2px; }
  section .menu-bott-top {
    width: 395px;
    height: 85px;
    margin-top: 10px; }
    section .menu-bott-top img {
      float: left;
      margin-right: 5px; }
    section .menu-bott-top .menu-bott-top-i {
      width: 80px;
      height: 80px; }
    section .menu-bott-top img:nth-of-type(1), section .menu-bott-top img:nth-of-type(6) {
      margin-top: 30px; }
  section .search-con {
    width: 100%;
    height: auto;
    margin-top: 20px; }
    section .search-con .search-con-lf {
      width: 211px;
      height: auto;
      float: left;
      border: 1px solid #EAEAEA; }
      section .search-con .search-con-lf .search-con-lfc {
        background: #F6F6F6;
        color: black;
        height: 30px; }
      section .search-con .search-con-lf div {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #EAEAEA; }
        section .search-con .search-con-lf div p:nth-of-type(1) {
          float: left;
          margin-left: 10px;
          color: orangered; }
        section .search-con .search-con-lf div p:nth-of-type(2) {
          float: right;
          margin-right: 10px;
          font-size: 12px; }
      section .search-con .search-con-lf ul {
        width: 100%; }
        section .search-con .search-con-lf ul li {
          width: 100%;
          height: 224px;
          border-bottom: 1px solid #EAEAEA;
          margin-top: 10px; }
          section .search-con .search-con-lf ul li img {
            width: 183px;
            height: 164px; }
          section .search-con .search-con-lf ul li p {
            text-align: center;
            margin-top: 5px; }
          section .search-con .search-con-lf ul li p:nth-of-type(2) {
            color: #B00504; }
    section .search-con .search-con-rg {
      width: 973px;
      height: auto;
      float: left; }
      section .search-con .search-con-rg .top {
        height: 176px !important; }
      section .search-con .search-con-rg .search-con-rg-top {
        border-bottom: 1px solid #F2F2F2;
        height: 270px;
        margin-bottom: 10px; }
      section .search-con .search-con-rg .search-con-rg-topbg {
        width: 100%;
        height: 30px;
        background: #F6F6F6;
        border: 1px solid #EAEAEA; }
        section .search-con .search-con-rg .search-con-rg-topbg p {
          float: left;
          width: 113px;
          height: 29px;
          text-align: center;
          line-height: 28px; }
        section .search-con .search-con-rg .search-con-rg-topbg p:nth-of-type(1) {
          background: white;
          border-top: 1px solid orangered; }
      section .search-con .search-con-rg .search-con-rg-top-bot {
        width: 100%;
        height: 187px; }
        section .search-con .search-con-rg .search-con-rg-top-bot > div {
          width: 130px;
          height: 187px;
          float: left;
          margin-left: 30px;
          margin-top: 30px; }
          section .search-con .search-con-rg .search-con-rg-top-bot > div p:nth-of-type(1) {
            margin-top: 35px;
            font-size: 13px; }
          section .search-con .search-con-rg .search-con-rg-top-bot > div p:nth-of-type(2) {
            margin-top: 5px; }
            section .search-con .search-con-rg .search-con-rg-top-bot > div p:nth-of-type(2) input {
              float: left;
              margin-top: 4px; }
            section .search-con .search-con-rg .search-con-rg-top-bot > div p:nth-of-type(2) span {
              float: right;
              margin-right: 10px;
              color: #999999; }
        section .search-con .search-con-rg .search-con-rg-top-bot > img {
          margin-top: 90px;
          margin-left: 80px;
          float: left; }
        section .search-con .search-con-rg .search-con-rg-top-bot .yan {
          color: orangered; }
          section .search-con .search-con-rg .search-con-rg-top-bot .yan span {
            font-size: 20px; }
        section .search-con .search-con-rg .search-con-rg-top-bot .put {
          width: 60px;
          height: 25px;
          text-align: center; }
        section .search-con .search-con-rg .search-con-rg-top-bot .btn {
          width: 121px;
          height: 31px;
          background: orangered;
          color: white;
          margin-top: 10px;
          border: none;
          font-size: 18px; }
      section .search-con .search-con-rg .search-con-bot {
        width: 100%; }
        section .search-con .search-con-rg .search-con-bot p:nth-of-type(1) {
          margin-left: 25px; }
        section .search-con .search-con-rg .search-con-bot p:nth-of-type(4) {
          margin-right: 0px; }
        section .search-con .search-con-rg .search-con-bot p {
          float: left;
          margin-right: 105px;
          margin-top: 35px;
          font-size: 14px;
          color: #A1A3A3; }
    section .search-con .banner {
      width: 100% !important;
      height: auto;
      border-top: 2px solid orangered;
      margin-top: 10px !important; }
      section .search-con .banner .banner-top {
        width: 98%;
        height: 29px;
        line-height: 29px;
        padding-left: 20px;
        color: orangered;
        background: #F6F6F6;
        border: 1px solid #EAEAEA; }
      section .search-con .banner .banner-bot {
        width: 100%;
        height: 670px;
        border: 1px solid #EAEAEA; }
        section .search-con .banner .banner-bot .banner-bot-top {
          margin-top: 20px;
          width: 924px;
          height: 129px;
          border: 1px solid #EAEAEA; }
          section .search-con .banner .banner-bot .banner-bot-top > div {
            float: left;
            margin-top: 30px;
            font-size: 14px; }
            section .search-con .banner .banner-bot .banner-bot-top > div img {
              margin: 0;
              width: 173px;
              height: 61px; }
          section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(1) {
            width: 20%;
            text-align: center;
            color: orangered; }
            section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(1) span {
              font-size: 35px; }
          section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(2) {
            width: 30%; }
            section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(2) p {
              float: left; }
          section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(3) {
            width: 24%;
            border-left: 1px solid #EAEAEA;
            border-right: 1px solid #EAEAEA;
            padding: 0 20px; }
            section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(3) p {
              margin-bottom: 5px; }
          section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(4) {
            width: 20%;
            text-align: center; }
            section .search-con .banner .banner-bot .banner-bot-top > div:nth-of-type(4) button {
              width: 120px;
              height: 35px;
              background: #EFEFEF;
              margin-top: 6px;
              border: none;
              font-size: 16px; }
        section .search-con .banner .banner-bot .banner-bot-bot {
          width: 973px;
          height: 85px;
          margin-top: 20px;
          border-bottom: 1px solid #EAEAEA; }
          section .search-con .banner .banner-bot .banner-bot-bot div:nth-of-type(1) {
            margin-left: 20px; }
            section .search-con .banner .banner-bot .banner-bot-bot div:nth-of-type(1) p {
              float: left;
              margin-left: 10px;
              margin-top: 0; }
          section .search-con .banner .banner-bot .banner-bot-bot div {
            width: 25%;
            float: left;
            margin: 0;
            margin-top: 30px;
            font-size: 14px; }
            section .search-con .banner .banner-bot .banner-bot-bot div span {
              color: #999999; }
            section .search-con .banner .banner-bot .banner-bot-bot div p {
              margin-top: 5px; }
            section .search-con .banner .banner-bot .banner-bot-bot div img {
              width: 20px;
              height: 20px;
              margin: 0;
              float: left;
              margin-top: -4px; }
      section .search-con .banner div {
        width: 748px;
        margin: 0 auto; }
        section .search-con .banner div img {
          width: 100%;
          height: 350px;
          margin-top: 25px;
          margin-left: 30px; }
      section .search-con .banner > div:nth-of-type(3) img {
        height: 165px; }
      section .search-con .banner > div:nth-of-type(4) img {
        height: 610px; }
      section .search-con .banner > div:nth-of-type(7) img, section .search-con .banner > div:nth-of-type(8) img {
        height: 830px; }

/*# sourceMappingURL=link.css.map */
