* {
  margin: 0;
  padding: 0;
  list-style: none; }

section .log-top {
  width: 1201px;
  height: 84px;
  margin: 0 auto;
  padding-top: 10px; }
  section .log-top img {
    float: left; }
  section .log-top ul {
    width: 290px;
    height: 27px;
    line-height: 27px;
    float: right; }
    section .log-top ul li {
      float: left;
      font-size: 14px; }
      section .log-top ul li a {
        text-decoration: none; }
    section .log-top ul img {
      float: right;
      width: 99px;
      height: 27px; }
section .log-bot {
  width: 100%;
  height: 100%;
  background: #FCFCFC;
  padding-top: 40px;
  border-top: 2px solid #F0F0F0; }
  section .log-bot .log-bot-top {
    width: 910px;
    height: 380px;
    margin: 0 auto; }
    section .log-bot .log-bot-top > img {
      float: left; }
    section .log-bot .log-bot-top > div {
      width: 327px;
      margin-top: 20px;
      float: right; }
      section .log-bot .log-bot-top > div div:nth-of-type(1) {
        width: 100%; }
        section .log-bot .log-bot-top > div div:nth-of-type(1) b {
          float: left; }
        section .log-bot .log-bot-top > div div:nth-of-type(1) a {
          float: right;
          text-decoration: none;
          font-size: 14px; }
      section .log-bot .log-bot-top > div #uName, section .log-bot .log-bot-top > div #pwd {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #DEDEDE;
        padding-left: 50px;
        box-sizing: border-box; }
      section .log-bot .log-bot-top > div #uName {
        background: url(../images/log-01-02.png) no-repeat 20px; }
      section .log-bot .log-bot-top > div #pwd {
        background: url(../images/log-01-03.png) no-repeat 20px; }
      section .log-bot .log-bot-top > div .zd {
        width: 100%;
        height: 20px;
        margin-top: 10px; }
        section .log-bot .log-bot-top > div .zd p {
          height: 100%;
          margin: 0;
          font-size: 14px; }
        section .log-bot .log-bot-top > div .zd p:nth-of-type(1) {
          float: left;
          width: 90px; }
        section .log-bot .log-bot-top > div .zd p:nth-of-type(2) {
          float: right;
          width: 80px; }
      section .log-bot .log-bot-top > div button {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        background: #FF3C3C;
        color: white;
        border: none;
        font-size: 16px; }
      section .log-bot .log-bot-top > div > p {
        font-size: 14px;
        margin-top: 20px; }
      section .log-bot .log-bot-top > div > div:nth-of-type(3) {
        width: 100%;
        margin-top: 20px; }
        section .log-bot .log-bot-top > div > div:nth-of-type(3) img {
          float: left;
          width: 35px;
          height: 35px;
          margin-right: 20px; }
        section .log-bot .log-bot-top > div > div:nth-of-type(3) p {
          line-height: 35px;
          font-size: 14px;
          color: #999999; }
  section .log-bot div:nth-of-type(2) {
    width: 100%; }
    section .log-bot div:nth-of-type(2) p {
      margin: 0 auto;
      width: 400px;
      font-size: 14px;
      text-align: center;
      margin-top: 10px; }

/*# sourceMappingURL=log.css.map */
